<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RandomMovie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <RandomMovie.Properties.Settings>
            <setting name="mpcText" serializeAs="String">
                <value />
            </setting>
            <setting name="vlcText" serializeAs="String">
                <value />
            </setting>
            <setting name="defPlay" serializeAs="String">
                <value />
            </setting>
            <setting name="browse2" serializeAs="String">
                <value />
            </setting>
            <setting name="browse3" serializeAs="String">
                <value />
            </setting>
            <setting name="browse4" serializeAs="String">
                <value />
            </setting>
            <setting name="browse1" serializeAs="String">
                <value />
            </setting>
            <setting name="numericValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="potText" serializeAs="String">
                <value />
            </setting>
        </RandomMovie.Properties.Settings>
    </userSettings>
</configuration>